server:
  port: 8888

spring:
  application:
    name: config-service
  profile:
    active: native
  cloud:
    config:
#      native:
#        search-locations: file://${user.home}/IdeaProjects/cop/multi-modules
      server:
        git:
          uri: https://github.com/nobe0716/spring-cloud-msa-practice
          default-label: main
          search-paths: conf
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
management:
  endpoints:
    web:
      exposure:
        include: refresh,health,beans,httptrace,busrefresh